<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>JulyHelloWorldAppengine</servlet-name>
		<servlet-class>com.full.helloappengine.ShowContacts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JulyHelloWorldAppengine</servlet-name>
		<url-pattern>/julyhelloworldappengine</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>searchContact</servlet-name>
		<servlet-class>com.full.helloappengine.SearchContact</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchContact</servlet-name>
		<url-pattern>/searchContact</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>createContact</servlet-name>
		<servlet-class>com.full.helloappengine.CreateContact</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createContact</servlet-name>
		<url-pattern>/createContact</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>deleteContact</servlet-name>
		<servlet-class>com.full.helloappengine.DeleteContact</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteContact</servlet-name>
		<url-pattern>/deleteContact</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
	
	
	
</web-app>
